<h2>Add new merchant</h2>
<form action="/merchants" method="post">
  <label for="merchant_name">Merchant name</label>
  <input type="text" name="merchant_name"> 
  <input type="submit" value="Add merchant!">
</form>


<% @merchants.each do |merchant| %>
<ul>
  <li>
    <p><%= merchant.merchant_name %></p>
    <form action="/merchants/<%= merchant.id %>/delete" method="post">
      <input type="submit" value="Delete">
    </form>
  </li>
</ul>
<% end %>