 h2{
    background-color: rgb(30,30,30);
    color: #FFFFFF;
    display: inline-block;
    font-size: 30px;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 5px 15px 8px 10px;
 }
 /*First page*/
 .website_image{
    background-image: url("http://qwikwebs.com/resources/ckfinder/userfiles/551a0df3e1e1ab53c7be3bcc2e476facimages/BD%20Financial%20Managment.jpg");
    height:500px;
 }
 .title1{
    background-color:black;
 }
 .lead{
    background-color:white;
    padding:10px;
    margin-top:10px;
 }

 .stock_market_logo {
    height:60px;
    width:60px;
    background-color: yellowgreen;
 }

 .signup_form{
    background-color: black;
 }

/*Navigation menu bar*/
 .menu_bar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu_bar_li {
    float: left;
}

.menu_bar_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_bar_li a:hover:not(.active) {
    background-color: #111;
}

.auth_link{
    float:right;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    position: relative;
    z-index: 1000000;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown_option{
    background-color: white;
    color: black;
}

/*Button*/

.btn {
    border: 0px;
    background-color: transparent;

}

/*Chart description*/
.chart_description{
    position:relative;
    display:inline-block;
}

.pie_chart_div{
    display:inline-block;
}