<h2>Add new category</h2>
<form action="/categories" method="post">
  <label for="category_name">Category name</label>
  <input type="text" name="category_name">
  <input type="submit" value="Add !">
</form>

<% @categories.each do |category| %>
<ul>
  <li>
    <p><%= category.category_name %></p>
    <form action="/categories/<%= category.id %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this?')" >
      <input type="submit" value="Delete">
    </form>
  </li>
</ul>
<% end %>