<h2>Add new transaction</h2>
<form action="/transactions" method="post">
  <label for="amount">Amount</label>
  <input type="number" name="amount">
  <label for="memo">Memo</label>
  <input type="text" name="memo">
  <label for="dates">Dates</label>
  <input type="text" name="dates">  
  <select name="user_id">
    <% @users.each do |user| %>
    <option value="<%=user.id%>"><%=user.name %></option>
    <% end %>
  </select><br>
  <select name="category_id">
    <% @categories.each do |category| %>
    <option value="<%=category.id%>"><%=category.category_name %></option>
    <% end %>
  </select><br>
  
  <input type="submit" value="Add transaction!">
</form>