<h2>Add new transaction</h2>
<form action="/transactions" method="post">
  <label for="amount">Amount</label>
  <input type="number" name="amount">
  <label for="memo">Memo</label>
  <input type="text" name="memo">
  <label for="dates">Dates</label>
  <input type="text" name="dates">
  <label for="user_id">User Id</label>
  <input type="text" name="user_id" value="<%= @user.id%>">
  <h3>Category</h3>
  <select name="category_id">
    <% @categories.each do |category| %>
    <option value="<%=category.id%>"><%=category.category_name %></option>
    <% end %>
  </select><br>
  
  <input type="submit" value="Add transaction!">
</form>